<%- include ('partials/header'); -%>
<div class='container'>
	<div class='jumbotron'>
		<h1> How would you like to search for quotes? </h1>
		<ul>
		    <li><a href="/bykeyword">By Keyword</a></li>
            <li><a href="/bycategory">By Category</a></li>
            <li><a href="/home">By Author</a></li>
            <li><a href="/bygender">By Gender</a></li>
  
        </ul>
	</div>
</div>
<%- include ('partials/footer'); -%>